* {
  font-family: 'Rubik', sans-serif;
}

.alexLetters {
  opacity: 0;
  cursor: default;
  height: 0px;
  line-height: 4px;
  margin: 20px;
  padding: 0;
}

.navBar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.897);
}

.example-1 {
  width: 130px;
  height: 130px;
}

.example-3 {
  width: 100px;
  height: 100px;
}

.example-3 .sticker-img {

  background-image: url(https://cnet3.cbsistatic.com/img/Yt768C55hXNi2eGSB9qOv-e7SQg=/2011/03/16/c7675aa8-fdba-11e2-8c7c-d4ae52e62bcc/Chrome-logo-2011-03-16.jpg);
  
  background-position: center;
  background-size: 140px;
  transform: rotate(-45deg);
  
}
  
  
.example-2 .sticker-shadow {
  
  opacity: 0.6;
  
}
