:root {
    --p: 220 94% 61% !important;
}

$light-grey: #bababa40;
$green: #5bfb5b;
$red: #ff4949;

.navbar {
    img {
        height: 24px;
    }
}

.up {
    color: $green;
}

.down {
    color: $red;
}

.rounded {
    border-radius: 20%;
}

.pointer {
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ml {
    margin-left: 4px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-overflow {
    overflow: hidden;
}

.bold {
    font-weight: bold;
}

.font-12 {
    font-size: 12px;
}

.grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @media (min-width: 900px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.col-2 {
    grid-column: span 2 / span 2;
}

.col-3 {
    grid-column: span 3 / span 3;
}

.large-icon {
    font-size: 30px;
}

.bold-icon {
    &::before {
        font-weight: bold;
    }
}


.menu {

    li {
        border: 2px solid $light-grey;
        border-radius: 10px;
        margin: 10px;
    }

    .menu-title {
        font-size: 50px;
        font-weight: bold;
    }
    
    .menu-footer {
        position: absolute;
        bottom: 10px;
    
        p {
            font-size: 12px;
            opacity: 0.6;
        }
    }
}



.emoji-button-container {

    button {
        width: 48px;
        height: 48px;
    }

    .emoji-button {
        text-align: center; 
        position: absolute;
        font-size: 24px;
    }
}

.card-item {

    .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    i {
        &::before {
          font-weight: 600;
        }
    }

    h2 {
        margin-bottom: 4px;
    }

    padding: 20px;
    margin: 10px 6px;
    border: 1px solid rgba(60, 60, 60, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    border-radius: var(--rounded-box,1rem);

    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.card-trending-list {

    .position {
        position: absolute;
    }

    div {
        display: flex;
        align-items: center;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2px 6px;
        margin: 6px 0;
        border-radius: 10px;
        width: 100%;
        background-color: $light-grey;

        img {
            max-width: 40px;
            height: auto;
        }

        span {
            margin: 0 2px;
            align-items: center;
            justify-content: center;
        }

        h2 {
            margin: 0;
            margin-left: 2px;
        }

        .info-container {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            width: inherit;
            padding-left: 10px;
        }

        .name-id {
            font-size: 12px;
            transform: translateY(1px);
        }

        .change {
            .percentage {
                margin-left: -2px;
            }
    
            .time {
                font-size: 10px;
                font-weight: bold;
            }
        }
        
    }
}

