* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  a { 
    color: inherit; 
    text-decoration:none; 
  } 

  .loading {
    z-index: 20;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #14171b;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
  }

  .hidden {
      opacity: 0;
      pointer-events: none;
  }

  .visible {
      opacity: 1;
  }

  .loading p {
      color: white;
      font-weight: bold;
      font-size: 30px;
  }
  
  .darkModeButton {
    z-index: 4;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition-duration: 0.5s;
    cursor: pointer;
  }
  
  .darkModeButton:hover {
    transform: scale(1.2);
  }
  
  .darkModeButton img {
    height: auto;
    width: 40px;
    transition-duration: 0.5s;
  }
  
  .mainCard {
    min-width: 50vw;
    min-width: 500px;
    max-width: 80vw;
    height: auto;
    border-radius: 50px;
    padding: 40px;
  }
    
  .home {
    background-size: fill;
  }
  
  .profileImage {
    height: auto;
    width: 200px;
    border-radius: 100%;
  }
  
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
  }
  
  .center h1 {
    font-size: 80px;
    cursor: default;
    margin: 20px 20px 0 20px;
  }

  .center p {
    font-size: 22px;
    cursor: default;
    margin: 0 20px;
  }

  .whiteText {
    color: white;
  }
  
  .blackBG {
    background-color: rgb(33, 36, 40);
    transition-duration: 0.2s;
  }
  
  .whiteBG {
    background-color: #ffff;
    transition-duration: 0.2s;
  }
  
  .invert {
    filter: invert(1)
  }
  
  .invertButton {
    transform: rotate(180deg);
    filter: invert(1)
  }
  
  .bg {
    position: absolute;
    z-index: -1;
    min-height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
  }
  
  .socialLinks {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
  }
  
  .socialSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 200px;
    width: 200px;
    border-radius: 50px;
    transition-duration: 0.2s;
  }
  
  .whiteCard {
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9, 
               -20px -20px 60px #ffffff;
  }
  
  .blackCard {
    background: #161A1E;
    box-shadow:  20px 20px 28px #14171b, 
                -20px -20px 28px #181d21;
  }
  
  .whiteCardNS {
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9, 
               -20px -20px 60px #ffffff;
  }
  
  .blackCardNS {
    background: #161A1E;
    background: linear-gradient(145deg, #14171b, #181c20);
  }
  
  .socialSection:hover {
    transform: scale(1.05);
  }
  
  .socialSection h1 {
    margin: 4px 0 0 0;
    font-size: 20px;
  }
  
  .socialSection p {
    flex-direction: row;
    font-size: 12px;
  }

  .socialText {
    margin: 20px 20px 0 20px;
  }
  
  .socialIcon {
    margin: 30px 30px 0 30px;
    width: 70px;
    height: auto;
  }

  .languageIcons {
    margin: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .languageIcon {
    width: 60px;
    height: auto;
    padding: 20px;
  }

  .languageIconHolder {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .languageIconHolder:hover {
    transform: scale(1.1);
  }

  .languageIconSpacer {
    display: flex;
    justify-content: center;
    width: 15%;
  }

  .tooltip .tooltiptext {
    z-index: 10;
    opacity: 0;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    margin-left: -60px;
    transition-duration: 0.4s;
  }
  
  .tooltip:hover .tooltiptext {
    top: 100%;
    opacity: 1;
  }

  .languageIconHolder:hover .react {
    animation: rotation 2s infinite linear;
  }

  .languageIconHolder:hover .spin {
    -webkit-animation: rotate-vert-center 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: rotate-vert-center 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  }

  .languageIconHolder:hover .jello {
    -webkit-animation: jello-horizontal 1s both;
	        animation: jello-horizontal 1s both;
  }

  .tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
            animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
  }


  
  @media only screen and (max-width: 700px) {

    .center {
      margin-top: 2vh;
    }

    .socialLinks {
      flex-direction: column;
      align-items: center;
      margin: 50px;
    }

    .languageIconSpacer {
      display: flex;
      justify-content: center;
      width: 25%;
    }
  
    .socialSection {
      margin: 30px;
      width: 90vw;
      flex-direction: row;
    }
  
    .socialIcon {
      margin: 20px;
    }
  
    .socialText {
      margin: 20px;
      transform: translateY(10px) ;
    }
  
    .bg {
      height: auto;
    }
  
    .mainCard {
      margin: 30px;
      padding: 20px;
      max-width: 90vw;
      min-width: 80vw;
      min-height: 600px;
      border-radius: 50px;
    }
  
    .darkModeButton {
      position: fixed;
      top: unset;
      bottom: 20px;
      right: 20px;
    }

    .hidden {
        opacity: 0 !important;
    }
  }

  @media only screen and (max-width: 500px) {

    .languageIconSpacer {
      display: flex;
      justify-content: center;
      width: 35%;
    }

  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


  /* Animations */

    /* ----------------------------------------------
  * Generated by Animista on 2020-3-25 20:41:45
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */

  /**
  * ----------------------------------------
  * animation tracking-in-expand
  * ----------------------------------------
  */
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2020-3-25 20:50:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  
}

/* ----------------------------------------------
 * Generated by Animista on 2020-3-28 13:59:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-vert-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(740deg);
            transform: rotateY(740deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(740deg);
            transform: rotateY(740deg);
  }
}

